extends layout

block content
  br
  br
  br
  br
  p
  h4  
    ul
      li Book name is  #{currentbook.name}
      li Author of this book is #{currentbook.author}
      li Price of this book is #{currentbook.price}
      li ratings of this book is #{currentbook.rating}
      li category of this book is #{currentbook.category}